*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: #262C4E;
    height: 750px;
}
nav{
    background: rgb(251, 5, 5,0.5);
    padding: 25px 0px;
    position: fixed;
    width: 100%;
}
.windows-scroll{
    background: rgb(251, 5, 5);
}
.container{
    width: 85%;
    margin: auto;
}
.header-main-div-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main-div-class a:hover{
    opacity: 75%;
}
.h4-class-header{
    color: white;
}
.ul-class{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-class{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;

}
li a{
    text-decoration: none;
    color: white;
}

.button-toggle-header button {
    border: none;
    background: none;
    color: white;
    font-size: 1.5em;
}

button:hover{
    opacity: 75%;
}
.btn-bar-class{
    display: none;
}
.btn-bar-class-close{
    display: none;
}


@media only screen and (max-width:600px){
    .btn-bar-class{
        display: block;
    }
    .nav-class{
        display: none;
    }
}
.nav-class2{
    display: block;
    line-height: 35px;
    padding-right: 15px;
}
.btn-bar-class-close2{
    display: block;
}
.btn-bar-class2{
    display: none;
}

/* header part 2...........................*/
.header-part-2{
    padding-top: 210px;
    color: white;
    display: flex;

}
.header-left h2{
    padding-bottom: 30px;
}
.header-left p{
    padding-bottom: 60px;
    line-height: 24px;
}
.header-left a{
    text-decoration: none;
    background: #F85846;
    padding: 16px 22px 16px 22px;
}
.header-left a:hover{
    background: #fa422d;
}
.header-left a:active{
    background: #fa412dc9;
}

.header-right{
    text-align: center;
}

/* section 1 left...........................*/

.section-2{
    background: #2C3162;
    height: 430px;
}
.section-left{
    padding: 60px 0px 60px 0px;
    color: white;
    
}
.section-left h2{
    padding-bottom: 30px;
}
.section-left p{
    padding-bottom: 40px;
    line-height: 23px;
    width: 85%;
}
.section-left a{
   color: rgb(42, 42, 42);
   text-decoration: none;
   background: white;
   padding: 16px 22px 16px 22px;
}
.section-left a:hover{
    background: rgb(204, 204, 204);
 }
 .section-left a:active{
    background: rgb(143, 142, 142);
 }
/* section 1 right...........................*/
.section-right{
    color: white;
    margin-top: 90px;
}
.card{
    display: flex;

}
.card-iner{
    background: #41488B;
    width: 120px;
    max-width: 120px;
    border-radius: 17%;
    padding: 22px;
    margin: 10px;
}
.card-iner i{
    padding: 8px;
    font-size: 16px;
    background: rgb(236, 156, 91);
    border-radius: 25%;
}
.card-iner h3{
    padding: 10px 0px 10px 0;
}
.section-r-l{
    display: flex;
    padding-top: 26px;
}


/* section 2 ...........................*/
.section-3{
    background: #262C4E;
    height: 800px;
   
}
.card-3{
    color: white;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;

}
#h2-id{
    color: white;
    text-align: center;
    padding-top: 180px;
}
.image-card{
    width: 320px;
    margin: 8px;
    margin-top: 0px;
    background: #2C3162;
    box-shadow: 0px 0px 2px 0px #4d559e;
    border:1px solid white;
  

}
.image-card img{
    width: 100%;
  height: 190px;
}
.image-card h3{
    padding: 15px;
  }
  .image-card p{
    padding: 10px;
    line-height: 22px;
  }
  
  .image-card button{
    text-decoration: none;
    color: white;
    padding: 16px 22px 16px 22px;
    background-color: #F85846;
    border: none;
    margin: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 850px){
    .header-part-2{
        display: block;
    }
    header{
        height: 900px;
    }
    .section-r-l{
        display: block;
    }
    .section-2{
        height: 800px;
    }
    .section-right{
        color: white;
        margin-top: 30px;
    }
    .card{
        display: flex;
        justify-content: center;
    }
    .card-3{ 
        display: block;
        width: 320px;
        margin: auto;
    }
    .section-3{
        background: #262C4E;
        height: 1800px;
    }
}


/* section 3 ...........................*/