
.section0-left{
    text-align: center;
}
.section0-left img{
    width: 350px;
    height: 350px;
    text-align: center;
}
.section-head{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 100px;
}
.card-section0{
    margin-top: 36px;
    background-color: #41488B;
    width: 175px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 white;
    text-align: center;
    padding: 26px 0 40px 0;
}
.section0-right p{
    color: rgb(224, 224, 224);
    margin-top: 16px;
    line-height: 22px;
}
.card-section0 a i{
    color: white;
    padding: 26px;
    font-size: 54px;
}
.card-section-main{
    display: flex;
    gap : 2rem;
}
@media only screen and (max-width: 1076px){
    .section-head{
        display: block;
        
    }
    .card-section-main{
        width: 600px;
        margin: auto;
    }
    .header-about{
        height: 1100px;
    }
}
@media only screen and (max-width: 670px){
    .card-section-main{
        display: block;
        width: 175px;
        margin: auto;
    }
    .header-about{
        height: 1600px;
    }
}
/*.....................................section 1........................................*/

.section-1-about{
    height: 800px;
    background: #474f97;
}
.team-card{
    color: white;
    text-align: center;
    background-color: #41488B;
    width: 110px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #41488B;
    margin: auto;
    margin-top: 60px;


}
.team-card:hover{
    background: #474f97;
    cursor: pointer;
    transition: 0.3s;

}
.img-team{
width: 100px;
margin: auto;
}
.img-team img{
    width: 100%;
}
.team-card p{
    color: rgb(231, 231, 231);
    padding-top: 20px;
    font-size: 0.9em;
}
.team-card h2{
    padding-top: 4px;
}
.social-class{
    color: white;
    background-color: violet;
    border-radius: 1px 10px 15px 1px;
    width: 30px;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    display: none;
    transition: 0.3s;
}
.social-class i{
    color: white;
}
.social-class a{
    display: block;
    padding: 8px 0px 8px 0px;
}
.social-class a:hover {
    opacity: 50%;
}
.social-class2{
    display: block;
}
.team-user-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
.team-card:hover .social-class{
    display: block;

}
.team-card:active .social-class{
    display: none;

}
@media only screen and (max-width: 670px){
    .card-section-main{
        display: block;
        width: 175px;
        margin: auto;
    }
    .header-about{
        height: 1600px;
    }
    .team-user-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section-1-about{
        height: 1300px;
        background: #474f97;
    }
}